h2 {
    text-align: left;
    margin-bottom: 10px; 
    color: #3CB371; 
}

#home {
    position: absolute; 
    top: 10px; 
    right: 10px;
    padding: 10px 20px; 
    background-color: #3CB371; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    color: white; 
}

#home span {
    vertical-align: middle; 
}

hr {
    border-color: #3CB371; 
    margin-top: 15px;
}

#tophr{
    margin-top: 20px;
}
footer {
    color: #3CB371; 
    background-color: rgb(171, 223, 117); 
    padding: 1em;
    position: relative;
    bottom: 0;
}

body {
    background-color: rgb(96, 105, 92);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin-left: 20px;
    margin-top: 10px;
}

h1, h2 {
    font-size: 25px;
}

/* header {
    background-color: rgb(171, 223, 117);
    padding: 1em;
    padding-left: 2em;
    font-size: 25px;
} */

/* a {
    background-color: rgb(96, 105, 92);
    margin-top: 1em;
    margin-left: 8em;
    padding: 0.7em;
    color: white;
    text-decoration: none;
    float: left;
    clear: left;
} */