body {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 0.9em;
}

h1,
h2 {
    color: #000;
    font-style: thin;
    font-size: 1.5 rem;
    margin-left: 5%;
}

footer {
    margin-left: 5%;
}

.homebutton {
    border: 0;
    line-height: 3.5;
    padding: 100 10px;
    font-size: 1.25rem;
    color: #090909;
    border-radius: 5px;
    background-color: rgb(255, 246, 246);
    display: block;
    margin: 1em;
}

.homebutton:hover {
    background-color: #204ae2;
}

.form-group {
    margin-left: 5%;
}

.signout {
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1.25rem;
    text-align: center;
    margin: 1em;
    color: #090909;
    border-radius: 5px;
    background-color: rgb(255, 246, 246);
    display: block;
}

.signout:hover {
    background-color: red;
}

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}