body {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 0.9em;
    background-color: #FEF9FF;
}

h1,
h2,
h3 {
    padding: 20px;

}

footer {
    margin-left: 5%;
    margin-top: 3%;
}

p {
    display: inline;
}

.header2 {
    text-align: end;
    display: end;
}

.homebutton {
    border: 0;
    line-height: 3.5;
    font-size: 1.5rem;
    color: #090909;
    border-radius: 5px;
    background-color: #6E9075;
    display: flex;
    margin: 1em;
    justify-content: center;
    width: 50%;
}

.homebutton:hover {
    background-color: #204ae2;
}

.form-group {
    margin-left: 5%;
    padding-top: 10px;
}

.signout {
    border: 0;
    line-height: 2.5;
    padding: 10px 30px;
    font-size: 1.25rem;
    text-align: center;
    color: #090909;
    border-radius: 5px;
    background-color: rgb(255, 246, 246);
    display: flex;
    margin: 2em;
    justify-content: center;
}

.search {
    border-radius: 5px;
    width: 70%;
    margin-left: 1.5%;
}

.signout:hover {
    background-color: red;
}

.item {
    display: inline;
}

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}

.container-fluid-2 {
    background-color: #6874E8;
    padding: 30px;
}

a {
    color: #21284c;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;

}

img {
    width: 50em;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

hr {
    height: 4px;
    padding: 0%;
    margin-bottom: 0%;
}

.col-5 {
    float: left;
    margin-top: 30px;
    background-color: rgba(245, 245, 220, 0.5);
    text-align: center;
    padding-top: 30px;
    align-items: center;
}

.col-6,
.col-8 {
    margin-top: 30px;
    background-color: rgba(245, 245, 220, 0.5);
    text-align: center;
    padding-top: 20px;
    align-items: center;
}

.col-10 {
    margin-top: 30px;
    background-color: rgba(245, 245, 220, 0.5);
    text-align: center;
    padding-top: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.adminButton {
    border: 0;
    padding: 5px 30px;
    font-size: 1rem;
    color: #090909;
    border-radius: 5px;
    background-color: #6E9075;
    margin: 1em;
    display: inline;
}

.search-form-container input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #3CB371;
    border-radius: 5px;
}

.search-form-container input[type="submit"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#secondarytitle {
    text-align: center;
}

#find-items-form {
    padding: 10px;
}

btn-link {
    color: black;
}